<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KinoTicket a Entertainment Category Bootstrap Responsive Website Template | Contact
        :: W3layouts</title>
    <link rel="stylesheet" href="css/loginform.css">
</head>
<body>
<!-- Button to open the modal -->
<!--<button onclick="document.getElementById('id01').style.display='block'">Sign Up</button>-->

<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
    <!--    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>-->
    <form class="modal-content" method="post">
        <div class="container">
            <h1>Booking</h1>
            <p>Please fill in this form to booking the ticket.</p>
            <hr>
            <label for="author"><b>Movie</b></label>
            <input type="text" placeholder="Enter Movie" name="author" required>

            <label for="psw"><b>Name</b></label>
            <input type="text" placeholder="Name" name="name" required>

            <label for="psw"><b>Nickname</b></label>
            <input type="text" placeholder="Nickname" name="nickname" required>

            <label for="psw"><b>Number</b></label>
            <input type="text" placeholder="Number" name="number" required>

            <div class="clearfix">

                <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>

                <button type="submit"  class="signup">Send</button>
                <!--                onclick="document.getElementById('id01').style.display='none'"-->
            </div>
        </div>
    </form>
</div>
</body>
</html>